.mdc-card.pyx-card[data-black=false] .circled {
    background: black;
    color: var(--mdc-theme-text-primary-on-dark);
    font-weight: bold;
    border-radius: 50%;
    padding: 1px;
    width: var(--adapted-line-height);
    text-align: center;
    display: inline-block;
}

.mdc-card.pyx-card[data-black=true] .circled {
    background: white;
    color: var(--mdc-theme-text-primary-on-light);
    font-weight: bold;
    border-radius: 50%;
    padding: 1px;
    width: var(--adapted-line-height);
    text-align: center;
    display: inline-block;
}

.mdc-card.pyx-card[data-black=true] {
    background: black;
    color: var(--mdc-theme-text-primary-on-dark);
}

.mdc-card.pyx-card[data-black=true] .mdc-card__supporting-text {
    background: black;
    color: var(--mdc-theme-text-primary-on-dark);
}

.mdc-card.pyx-card > .mdc-card__supporting-text {
    max-height: 30vh;
    min-height: 10vh;
    overflow-y: auto;
    padding: 8px;
}

.mdc-card.pyx-card > .mdc-card__supporting-text > h4 {
    margin: 0;
    text-align: right;
}

.mdc-card.pyx-card .mdc-typography {
    font-size: var(--adapted-font-size);
    line-height: var(--adapted-line-height);
}

/* Default --------------- */
@media only screen and (max-width: 320px) {
    .mdc-card.pyx-card {
        width: 50vw;
    }

    .mdc-card.pyx-card .mdc-typography {
        --adapted-font-size: 0.6rem;
        --adapted-line-height: 0.7rem;
    }
}

/* Small phones ---------- */
@media only screen and (min-width: 320px) {
    .mdc-card.pyx-card {
        width: 40vw;
    }

    .mdc-card.pyx-card .mdc-typography {
        --adapted-font-size: 0.6rem;
        --adapted-line-height: 0.9rem;
    }
}

/* Medium phones --------- */
@media only screen and (min-width: 375px) {
    .mdc-card.pyx-card {
        width: 35vw;
    }

    .mdc-card.pyx-card .mdc-typography {
        --adapted-font-size: 0.7rem;
        --adapted-line-height: 1rem;
    }
}

/* Large phones ---------- */
@media only screen and (min-width: 425px) {
    .mdc-card.pyx-card {
        width: 30vw;
    }

    .mdc-card.pyx-card .mdc-typography {
        --adapted-font-size: 0.85rem;
        --adapted-line-height: 1.1rem;
    }
}

/* Tablets --------------- */
@media only screen and (min-width: 768px) {
    .mdc-card.pyx-card {
        width: 30vw;
    }

    .mdc-card.pyx-card .mdc-typography {
        --adapted-font-size: 1rem;
        --adapted-line-height: 1.1rem;
    }

    .mdc-card.pyx-card > .mdc-card__supporting-text {
        padding: 12px;
    }
}

/* Small laptops --------------- */
@media only screen and (min-width: 1024px) {
    .mdc-card.pyx-card {
        width: 25vw;
    }

    .mdc-card.pyx-card .mdc-typography {
        --adapted-font-size: 1rem;
        --adapted-line-height: 1.2rem;
    }
}

/* Medium Laptops --------------- */
@media only screen and (min-width: 1280px) {
    .mdc-card.pyx-card {
        width: 20vw;
    }

    .mdc-card.pyx-card .mdc-typography {
        --adapted-font-size: 1rem;
        --adapted-line-height: 1.2rem;
    }
}

/* Large laptops --------- */
@media only screen and (min-width: 1440px) {
    .mdc-card.pyx-card {
        width: 20vw;
    }

    .mdc-card.pyx-card .mdc-typography {
        --adapted-font-size: 1rem;
        --adapted-line-height: 1.2rem;
    }
}

/* Desktop --------- */
@media only screen and (min-width: 1600px) {
    .mdc-card.pyx-card {
        width: 16vw;
    }

    .mdc-card.pyx-card .mdc-typography {
        --adapted-font-size: 1rem;
        --adapted-line-height: 1.3rem;
    }

    .mdc-card.pyx-card > .mdc-card__supporting-text {
        padding: 14px;
    }
}

/* 4K -------------------- */
@media only screen and (min-width: 2560px) {
    .mdc-card.pyx-card {
        width: 12vw;
    }

    .mdc-card.pyx-card .mdc-typography {
        --adapted-font-size: 1.5rem;
        --adapted-line-height: 1.75rem;
    }

    .mdc-card.pyx-card > .mdc-card__supporting-text {
        padding: 16px;
    }
}