#gameLayout {
    width: 100%;
    display: flex;
}

#gameLayout > .message {
    margin-top: 48px;
}

#whiteCards {
    flex-grow: 1;
}

#hand > .list > .mdc-card.pyx-card {
    flex-shrink: 0;
}

#drawer > .mdc-drawer__drawer {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

#scoreboard {
    flex-shrink: 1;
    flex-basis: auto;
}

#scoreboard > .list {
    overflow-y: auto;
    max-height: 25vh;
}

#chat {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

#chat > .list {
    flex-grow: 1;
    overflow-wrap: break-word;
    padding-top: 0.25rem;
    overflow-y: auto;
}

#chat > .mdc-text-field {
    width: 100%;
    flex-shrink: 0;
}

.error::before {
    font-family: 'Material Icons', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';

    content: 'error';
    vertical-align: middle;
    padding-right: 8px;
    color: #D32F2F; /* Red 700 */
}