#drawer > .mdc-drawer__drawer {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

#drawer > .mdc-drawer__drawer > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

#scoreboard > .list {
    max-height: 30vh;
    overflow-y: auto;
}

#chat {
    display: flex;
    flex-direction: column;
}

#chat > .list {
    flex-grow: 1;
    overflow-wrap: break-word;
    padding-top: 0.25rem;
    overflow-y: auto;
    min-height: 100px;
}

#chat > .mdc-text-field {
    width: 100%;
    flex-shrink: 0;
}