.message {
    text-align: center;
    color: var(--mdc-theme-text-secondary-on-light, rgba(0, 0, 0, .54))
}

.mdc-switch-label {
    padding-left: 8px;
}

.mdc-dialog .mdc-card__supporting-text:last-child {
    margin-bottom: 16px;
}

.mdc-dialog__body--scrollable > .mdc-card {
    margin-top: 24px;
}

.mdc-dialog__body--scrollable {
    max-height: 60vh;
}

.mdc-toolbar .mdc-text-field {
    margin-top: 0 !important;
    margin-bottom: 16px !important;
}

/* Text field in toolbar */
.mdc-toolbar .mdc-text-field__label {
    color: var(--mdc-theme-text-primary-on-dark);
}

.mdc-toolbar .mdc-text-field__icon {
    color: var(--mdc-theme-text-primary-on-dark) !important;
}

.mdc-toolbar .mdc-text-field__input {
    color: var(--mdc-theme-text-primary-on-dark);
    border-color: var(--mdc-theme-text-primary-on-dark);
}

.mdc-toolbar .mdc-text-field__input:hover {
    color: var(--mdc-theme-text-primary-on-dark);
}

/* Chip in toolbar */
.mdc-toolbar .mdc-chip-set > .mdc-chip > .mdc-chip__text {
    color: var(--mdc-theme-text-secondary-on-primary);
}

main {
    overflow-y: auto;
}

.fab-bottom-right {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

@media (min-width: 1024px) {
    .fab-bottom-right {
        bottom: 1.5rem;
        right: 1.5rem;
    }
}

/* Ensure layout covers the entire screen. */
html {
    height: 100%;
}

/* Place drawer and content side by side. */
body {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.mdc-card.cc-card {
    display: block !important;
}

.mdc-card.cc-card[data-black=true] {
    background: black;
}

.mdc-card.cc-card[data-black=true] h1 {
    background: black;
    color: var(--mdc-theme-text-primary-on-dark);
}

/* Stack toolbar and main on top of each other. */
.page-content {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    box-sizing: border-box;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

/* Pagination */
.pagination {
    margin-top: 16px;
    text-align: center;
}

.pagination__inner {
    display: inline-block;
}

.pagination__inner button {
    min-width: auto;
    padding: 0 8px;
    height: 32px;
    font-size: .8125rem;
    line-height: 32px;
}

/* Media breakpoints for centred cards in homepage */
.centered_cards {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .centered_cards {
        width: 75%;
        margin: auto;
    }
}

@media only screen and (min-width: 768px) {
    .centered_cards {
        width: 60%;
        margin: auto;
    }
}

@media only screen and (min-width: 1024px) {
    .centered_cards {
        width: 50%;
        margin: auto;
    }
}

.mdc-card > .mdc-card__primary {
    padding: 0 16px;
}

.mdc-card > .mdc-card__supporting-text {
    padding: 0 16px;
    flex-grow: 1;
}

.mdc-card__title {
    color: var(--mdc-theme-text-primary-on-light);
}

/* Bottom sheet stuff */
.bottom-sheet {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    pointer-events: none;
    display: flex;
    flex-flow: column;
    z-index: 5;
}

.bottom-sheet .mdc-toolbar {
    pointer-events: auto;
}

.bottom-sheet .bottom-sheet__content {
    padding: 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    height: 0;
}

.bottom-sheet--open {
    background-color: rgba(0, 0, 0, .6);
    pointer-events: auto;
}

.bottom-sheet--open .bottom-sheet__content {
    height: auto;
}

/* MDC fix */
@media (max-width: 959px) and (orientation: landscape) {
    .mdc-toolbar-fixed-adjust {
        margin-top: 56px
    }
}

/* Noty fixes */
#noty_layout__topRight {
    top: 84px !important; /* 20px (default) + 64px (toolbar) */
}

@media (max-width: 599px) {
    #noty_layout__topRight {
        top: 68px !important; /* 12px (reduced) + 56px (toolbar) */
    }
}

@media (max-width: 959px) and (max-height: 599px) {
    #noty_layout__topRight {
        top: 56px !important; /* 8px (reduced) + 48px (toolbar) */
    }
}

#noty_layout__bottom, #noty_layout__bottomCenter, #noty_layout__bottomLeft, #noty_layout__bottomRight, #noty_layout__center, #noty_layout__centerLeft, #noty_layout__centerRight, #noty_layout__top, #noty_layout__topCenter, #noty_layout__topLeft, #noty_layout__topRight, .noty_layout_mixin {
    z-index: 4; /* Below drawer */
}

/* Noty custom theme */
.noty_theme__mdc.noty_bar {
    margin: 4px 0;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
}

.noty_theme__mdc.noty_bar > .noty_body {
    padding: 10px;
    font-size: 14px;
}

.noty_theme__mdc.noty_type__info {
    background-color: #FFFFFF;
    border-bottom: 1px solid #757575; /* Grey 600 */
    color: rgba(0, 0, 0, 0.87);
}

.noty_theme__mdc.noty_type__alert {
    background-color: var(--mdc-theme-primary);
    border-bottom: 1px solid #BDBDBD; /* Grey 400 */
    color: var(--mdc-theme-text-primary-on-primary);
}

.noty_theme__mdc.noty_type__success {
    background-color: #4CAF50;
    border-bottom: 1px solid #2E7D32; /* Green 800 */
    color: #FFFFFF;
}

.noty_theme__mdc.noty_type__warning {
    background-color: #FF9800;
    border-bottom: 1px solid #EF6C00; /* Orange 800 */
    color: #FFFFFF;
}

.noty_theme__mdc.noty_type__error {
    background-color: #F44336;
    border-bottom: 1px solid #C62828; /* Red 800 */
    color: #FFFFFF;
}

/* Text field in toolbar */
.mdc-toolbar .mdc-text-field input {
    border-bottom-color: var(--mdc-theme-text-primary-on-dark) !important;
    color: var(--mdc-theme-text-primary-on-dark) !important;
}

.mdc-toolbar .mdc-text-field .mdc-text-field__label {
    color: var(--mdc-theme-text-secondary-on-dark) !important;
}