.wide-card {
    width: 75vh;
    margin: 1em auto;
}

.mdc-dialog__body .mdc-card {
    margin-top: 24px;
}

#createGameDialog .mdc-dialog__body--scrollable {
    max-height: 60vh;
}

main {
    overflow-y: auto;
}

.fab-bottom-right {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

@media (min-width: 1024px) {
    .fab-bottom-right {
        bottom: 1.5rem;
        right: 1.5rem;
    }
}

.mdc-toolbar-demo {
    margin: 0;
}

.demo-paragraph {
    margin: 0;
    padding: 20px 28px;
}

@media (max-width: 599px) {
    .demo-paragraph {
        padding: 16px;
    }
}

/* Ensure layout covers the entire screen. */
html {
    height: 100%;
}

/* Place drawer and content side by side. */
body {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

/* Stack toolbar and main on top of each other. */
.page-content {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    box-sizing: border-box;
}

