.filter-input.mdl-textfield__input {
    border-bottom: 1px solid white;
}

.filter-input-text.mdl-textfield__label {
    color: white;
}

.wide-card.mdl-card {
    width: 512px;
}

.pref-card.mdl-card {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 1vw;
    width: 35vw;
}

.fab-bottom-right {
    margin: 32px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99;
}

dialog.mdl-dialog {
    width: 600px;
}


