#themingWheel svg {
    width: 100%;
    height: 100%
}

#themingWheel g[data-color] {
    opacity: 1;
    transition: opacity .2s cubic-bezier(.4, 0, 1, 1)
}

#themingWheel .selector {
    opacity: 0;
    transition: opacity .4s cubic-bezier(.4, 0, 1, 1);
    fill: #BDBDBD
}

#themingWheel .selected .selector {
    opacity: 1
}

#themingWheel .label {
    text-anchor: middle;
    opacity: 0;
    transition: opacity .4s cubic-bezier(.4, 0, 1, 1);
    fill: #fff;
    font-size: 24px
}

#themingWheel .selected--1 .label--1, #themingWheel .selected--2 .label--2 {
    opacity: 1
}

#themingWheel svg.hide-nonaccents g[data-color="Blue Grey"]:not(.selected), #themingWheel svg.hide-nonaccents g[data-color="Brown"]:not(.selected), #themingWheel svg.hide-nonaccents g[data-color="Grey"]:not(.selected) {
    opacity: .12
}

#themingWheel .selected {
    opacity: 1 !important
}